<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
    <div id="root">
        <div>
            <input type="text" v-model="todoValue">
            <button @click="handButton">提交</button>
        </div>
        <ul>
           <todo-iem v-bind:content="item"
            v-bind:index="index"
            v-for="(item,index) in list"
           @delete="handDelete"></todo-iem>
        </ul>

    </div>

    <script>
        // Vue.component("todo-item",{
        //     props:['content'],
        //     template:"<li>{{content}}</li>"
        // })
        var todoItem={
            props:['content','index'],
            template:"<li @click='handLiclick'>{{content}}</li>",
            methods:{
                handLiclick:function(){
                    this.$emit("delete",this.index);
                }
            }
        }
        var app=new Vue({
            el:"#root",
            components:{
                todoIem:todoItem
            },
            data:{
                todoValue:"",
                list:[]
            },
            methods:{
                handButton:function(){
                    this.list.push(this.todoValue)
                    this.todoValue=""
                },
                handDelete:function(index){
                    this.list.splice(index,1)
                }
            }
        })
       
    </script>
</body>
</html>